modules = ["web", "nodejs-20"]
run = "npx serve ."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Production Server"

[[workflows.workflow]]
name = "Production Server"
author = 44416512
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80
